<footer class="footer">
  <div class="ui text main container footer">
    <div id="footer-info" class="inner">
      &copy; 2007 - <%= date(new Date(), 'YYYY') %> &#183; <%= config.author || config.title %> &#183; <a href="mailto:ahadbokhari@gmail.com">ahadbokhari@gmail.com</a>  <br>
      <i>Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>, hosted on <a href="https://github.com/ahadb">Github</a></i>
    </div>
  </div>
</footer>
