<div class="ui text main container">
  <div class="ui grid">
    <div class="left floated twelve wide column">
      <h1 class="me"><a class="title" href="/">Ahad Bokhari</a></h1>
      <div class="ui dropdown">
          <div class="text"> <i>Front-end engineer, JavaScript & software lover and eternal learner... </i></div>

        <div class="menu">

          <div class="item">
            <span class="description">ctrl + o</span><a href="/about"> About</a> </div>
          <div class="item">
            <span class="description">ctrl + o</span> <a href="/archives"> Archives</a>
          </div>
          <div class="item">
            <span class="description">ctrl + o</span> <a href="/linkblog"> Linkblog</a>
          </div>

        </div>
      </div>
    </div>
    <div class="right floated six wide column">

      <div class="text"></div>

    </div>
  </div>


  <div class="ui divider"></div>
</div>
  </div>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

