<div class="ui text main container">
  <div class="ui grid">
    <div class="left floated twelve wide column">
      <h1 class="me">Ahad Bokhari</h1>
      <div class="ui dropdown">
        <div class="text"><i class="sidebar icon"></i><cite style="color:#906;">Exploring JavaScript in 2016 & beyond...</cite></div>

        <div class="menu">


          <div class="item">
            <span class="description">ctrl + o</span><a href="/about"> About</a> </div>
          <div class="item">
            <span class="description">ctrl + o</span> <a href="/archives"> Archives</a>
          </div>
          <div class="item">
            <span class="description">ctrl + o</span> <a href="/linkblog"> Linkblog</a>
          </div>

        </div>
      </div>
    </div>
    <div class="right floated six wide column">

      <div class="text"></div>

    </div>
  </div>


  <div class="ui divider"></div>
</div>
  </div>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

